<div class="container">

<div class="card">
  <div class="container">
  <div class="card-header">
    <h3 class="card-title">Bed List </h3>
    
  </div>
  
  <div class="card-body">
    <table class="table table-bordered">
      <thead>                  
        <tr>
          <th style="width: 10px">Flat Number</th>
          <th>Flat Name</th>
          <th style="width: 10px">Room Number</th>
          
          <th style="width: 10px">Bed Number</th>
          
          <th>Bed Status</th>
          <th>Bed Price</th>
          
          
          <th style="width: 10px">Update</th>
          <!-- <th style="width: 130px">Add Bed</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bt of bed">
          <td>{{bt.flatNumber}}</td>
          <td>{{bt.flatName}}</td>
          <td>{{bt.roomNumber}}</td>
          <td>{{bt.bedNumber}}</td>
          <td>{{bt.bedStatus}}</td>
          <td>{{bt.bedPrice}}</td>
          
          <td><button class="card-title" type="button" class="btn btn-primary btn-sm"  data-toggle="modal" 
            [routerLink]="[bt.bedId]">Update</button></td>
          <!-- <td><button class="card-title" type="button" class="btn btn-secondary btn-sm"  data-toggle="modal" 
              >Add Room</button></td>   -->

        </tr>
        
        
      </tbody>
    </table>
  </div>

  <div class="card-footer clearfix">
    
    <button type="button" class="btn btn-secondary" (click)="onHome()">Go to Home Page</button>
    
  </div>
</div>
</div>
</div>

