<div class="card">
    <div class="card-header">
        <h3 class="card-title">Notices</h3>
        <div class="float-right">
            <button class="btn btn-primary" routerLink="add" routerLinkActive="router-link-active">Create
                Notice</button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>Notice Description</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let notice of notices index as i">
                    <td>{{i+1}}.</td>
                    <td>{{notice.firstName}} {{notice.lastName}}</td>
                    <td>{{notice.noticeDescription}}</td>
                    <td>{{notice.createdDate}}</td>
                    <td>
                        <a (click)="onDelete(notice.noticeId)"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
       
    </div>
</div>