<div class="card">
    <div class="card-header">
        <h3 class="card-title">Review list</h3>
    </div>
    <!-- /.card-header -->
    
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th scope="col">Reviewer Name</th>
                    <th scope="col">Review Rating</th>
                    <th scope="col">ReviewDescription</th>
                    <th scope="col">Review Delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngIf="showNoData">
                    <h2>No Data Available</h2>
                </tr> -->
                <tr *ngFor="let review of reviews index as i">
                    <td>{{i+1}}.</td>
                    <td>{{review.firstName +" "+ review.lastName}}</td>
                    <td>{{review.rating}}</td>
                    <td>{{review.reviewDescription}}</td>
                    <td>
                        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal"
                            (click)="onDelete(review.reviewId)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
       
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rental Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="onConfirmDelete()" data-dismiss="modal">Confirm
                    Delete</button>
            </div>
        </div>
    </div>
</div>