<app-clientheader></app-clientheader>
<section id="Forgetpassword" class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Forget Password</h2>
    </div>

    <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
      <form
        role="form"
        class="php-email-form"
        [formGroup]="forgetPasswordFormGroup"
      >
        <div class="form-row">
          <div class="col-lg-2 form-group">
            <label for="mobileNumber">Mobile Number : </label>
          </div>
          <div class="col-lg-7 form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Mobile Number"
              data-msg="Please enter mobile number"
              maxlength="10"
              formControlName="mobileNumber"
            />
            <span
              class="form-text text-danger"
              *ngIf="
                forgetPasswordFormGroup.controls.mobileNumber.touched &&
                forgetPasswordFormGroup.controls.mobileNumber.errors
              "
              >{{ forgetPasswordFormGroup.controls.mobileNumber.errorMessage
              }}<br
            /></span>
            <div class="validate"></div>
          </div>
          <div class="col-lg-3 form-group">
            <button
              [disabled]="!forgetPasswordFormGroup.controls.mobileNumber.valid"
              class="setbutton"
              (click)="sendOtp()"
            >
              Send OTP
            </button>
          </div>
        </div>
        <div class="form-row" *ngIf="showotpblock">
          <div class="col-lg-2 form-group">
            <label for="mobileNumber">Enter OTP : </label>
          </div>
          <div class="col-lg-7 form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter OTP"
              data-msg="Please enter OTP"
              formControlName="otp"
            />
            <span
              class="form-text text-danger"
              *ngIf="
                forgetPasswordFormGroup.controls.otp.touched &&
                forgetPasswordFormGroup.controls.otp.errors
              "
              >{{ forgetPasswordFormGroup.controls.otp.errorMessage }}<br
            /></span>
            <div class="validate"></div>
          </div>
          <div class="col-lg-3 form-group">
            <button
              class="setbutton"
              [disabled]="!forgetPasswordFormGroup.controls.otp.valid"
              (click)="confirmOtp()"
            >
              Confirm OTP
            </button>
          </div>
        </div>
        <div class="form-row" *ngIf="showpasswordBlock">
          <div class="col-lg-2 form-group">
            <label for="userPassword">Enter Password : </label>
          </div>
          <div class="col-lg-7 form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter new password"
              data-msg="Please enter New Password"
              formControlName="userPassword"
            />
            <span
              class="form-text text-danger"
              *ngIf="
                forgetPasswordFormGroup.controls.userPassword.touched &&
                forgetPasswordFormGroup.controls.userPassword.errors
              "
              >{{ forgetPasswordFormGroup.controls.userPassword.errorMessage
              }}<br
            /></span>
            <div class="validate"></div>
          </div>
          <div class="col-lg-3 form-group">
            <button
              class="setbutton"
              [disabled]="!forgetPasswordFormGroup.controls.userPassword.valid"
              (click)="changePassword()"
            >
              ChangePassword
            </button>
          </div>
        </div>

        <div class="form-row">
          <div class="col-lg-2 form-group">
            <label for=""> </label>
          </div>
          <div class="col-lg-10 form-group">
            <p style="margin-top: 1.5rem;">
              <a href="#" [routerLink]="['/clientlogin']">
                << Back to Sign in</a
              >
            </p>
          </div>
        </div>
      </form>
    </div>
    <br />

    <!-- <div class="row">

            <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>Our Address</h3>
                    <p>A108 Adam Street, New York, NY 535022</p>
                </div>
            </div>

            <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Us</h3>
                    <p>info@example.com<br>contact@example.com</p>
                </div>
            </div>

            <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="info-box ">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Us</h3>
                    <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                </div>
            </div>
        </div> -->
  </div>
</section>
<app-clientfooter></app-clientfooter>
