<app-clientheader></app-clientheader>
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div
      id="heroCarousel"
      class="carousel slide carousel-fade"
      data-ride="carousel"
    >
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div
          class="carousel-item active"
          style="background-image: url('assets/client/img/slide/slide-1.jpg');"
        >
          <div class="carousel-container">
            <div class="carousel-content container">
              <h2 class="animated fadeInDown">
                Welcome to <span>Pg Management</span>
              </h2>
              <p class="animated fadeInUp">
                Paying Guest & Pg Management System Do you own a PG? Finding
                diificulty in managing entire activities of your PG from rent
                collection to tracking your PG performance? Try our award
                winning PG Management Software which completely automates entire
                PG Management process.
              </p>
              <!-- <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a> -->
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div
          class="carousel-item"
          style="background-image: url('assets/client/img/slide/slide-2.jpg');"
        >
          <div class="carousel-container">
            <div class="carousel-content container">
              <h2 class="animated fadeInDown">Why Pg Management</h2>
              <p class="animated fadeInUp">
                Managing different aspects of PG business such as managing
                multiple PG's , keeping track of tenants and their payments,
                tracking daily income and expense, generating expense and income
                reports, tracking daily transactions of multiple PG's are huge
                problems for any PG owner.
              </p>
              <!-- <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a> -->
            </div>
          </div>
        </div>
      </div>

      <a
        class="carousel-control-prev"
        href="#heroCarousel"
        role="button"
        data-slide="prev"
      >
        <span
          class="carousel-control-prev-icon icofont-rounded-left"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#heroCarousel"
        role="button"
        data-slide="next"
      >
        <span
          class="carousel-control-next-icon icofont-rounded-right"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-6 video-box">
          <img src="assets/client/img/about.jpg" class="img-fluid" alt="" />
          <a
            href="https://www.youtube.com/watch?v=FBMsE8axeVc"
            class="venobox play-btn mb-4"
            data-vbtype="video"
            data-autoplay="true"
          ></a>
        </div>

        <div
          class="col-lg-6 d-flex flex-column justify-content-center about-content"
        >
          <div class="section-title">
            <h2>About Us</h2>
            <p>
              Paying Guest & Pg Management System Do you own a PG? Finding
              diificulty in managing entire activities of your PG from rent
              collection to tracking your PG performance?
            </p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              excepturi sint occaecati cupiditate non provident
            </p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-gift"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->

  <!-- ======= About Lists Section ======= -->
  <section class="about-lists">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
          <span>01</span>
          <h4>Lorem Ipsum</h4>
          <p>
            Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et
            consectetur ducimus vero placeat
          </p>
        </div>

        <div
          class="col-lg-4 col-md-6 content-item"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <span>02</span>
          <h4>Repellat Nihil</h4>
          <p>
            Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis
            dolor quod et vel dire leno para dest
          </p>
        </div>

        <div
          class="col-lg-4 col-md-6 content-item"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <span>03</span>
          <h4>Ad ad velit qui</h4>
          <p>
            Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt
            debitis quo vel nam quis
          </p>
        </div>

        <div
          class="col-lg-4 col-md-6 content-item"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <span>04</span>
          <h4>Repellendus molestiae</h4>
          <p>
            Inventore quo sint a sint rerum. Distinctio blanditiis deserunt quod
            soluta quod nam mider lando casa
          </p>
        </div>

        <div
          class="col-lg-4 col-md-6 content-item"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <span>05</span>
          <h4>Sapiente Magnam</h4>
          <p>
            Vitae dolorem in deleniti ipsum omnis tempore voluptatem. Qui
            possimus est repellendus est quibusdam
          </p>
        </div>

        <div
          class="col-lg-4 col-md-6 content-item"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <span>06</span>
          <h4>Facilis Impedit</h4>
          <p>
            Quis eum numquam veniam ea voluptatibus voluptas. Excepturi aut
            nostrum repudiandae voluptatibus corporis sequi
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Lists Section -->

  <!-- ======= Our Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="section-title">
        <h2>Our Portfolio</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Home</li>
            <li data-filter=".filter-card">Bed</li>
            <!-- <li data-filter=".filter-web">Web</li> -->
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="assets/client/img/portfolio/h1.jfif"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Home 1</h4>
              <p>Home</p>
              <div class="portfolio-links">
                <a
                  href="assets/client/img/portfolio/h1.jfif"
                  data-gall="portfolioGallery"
                  class="venobox"
                  title="App 1"
                  ><i class="icofont-eye"></i
                ></a>
                <!-- <a href="#" title="More Details"><i class="icofont-external-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="assets/client/img/portfolio/h2.jfif"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Home 2</h4>
              <p>Home</p>
              <div class="portfolio-links">
                <a
                  href="assets/client/img/portfolio/h2.jfif"
                  data-gall="portfolioGallery"
                  class="venobox"
                  title="App 2"
                  ><i class="icofont-eye"></i
                ></a>
                <!-- <a href="#" title="More Details"><i class="icofont-external-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="assets/client/img/portfolio/b1.jfif"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Bed 1</h4>
              <p>Bed</p>
              <div class="portfolio-links">
                <a
                  href="assets/client/img/portfolio/b1.jfif"
                  data-gall="portfolioGallery"
                  class="venobox"
                  title="Card 2"
                  ><i class="icofont-eye"></i
                ></a>
                <!-- <a href="#" title="More Details"><i class="icofont-external-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="assets/client/img/portfolio/h3.jfif"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Home 3</h4>
              <p>Home</p>
              <div class="portfolio-links">
                <a
                  href="assets/client/img/portfolio/h3.jfif"
                  data-gall="portfolioGallery"
                  class="venobox"
                  title="App 3"
                  ><i class="icofont-eye"></i
                ></a>
                <!-- <a href="#" title="More Details"><i class="icofont-external-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="assets/client/img/portfolio/b2.jfif"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Bed 2</h4>
              <p>Bed</p>
              <div class="portfolio-links">
                <a
                  href="assets/client/img/portfolio/b2.jfif"
                  data-gall="portfolioGallery"
                  class="venobox"
                  title="Card 1"
                  ><i class="icofont-eye"></i
                ></a>
                <!-- <a href="#" title="More Details"><i class="icofont-external-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="assets/client/img/portfolio/b3.jfif"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Bed 3</h4>
              <p>Bed</p>
              <div class="portfolio-links">
                <a
                  href="assets/client/img/portfolio/b3.jfif"
                  data-gall="portfolioGallery"
                  class="venobox"
                  title="Card 3"
                  ><i class="icofont-eye"></i
                ></a>
                <!-- <a href="#" title="More Details"><i class="icofont-external-link"></i></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Our Portfolio Section -->

  <!-- ======= Our Team Section ======= -->
  <!-- <section id="team" class="team">
    <div class="container">

      <div class="section-title">
        <h2>Our Team</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
      </div>

      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
          <div class="member">
            <div class="pic"><img src="assets/client/img/team/team-1.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="pic"><img src="assets/client/img/team/team-2.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Product Manager</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="pic"><img src="assets/client/img/team/team-3.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>CTO</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="pic"><img src="assets/client/img/team/team-4.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section> -->
  <!-- End Our Team Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Reviews</h2>
      </div>

      <div
        class="row  d-flex align-items-stretch"
        *ngFor="let review of reviews index as i"
      >
        <div class="col-lg-12 faq-item" data-aos="fade-up">
          <h4>Reviewer : {{review.firstName +" "+ review.lastName}}</h4>

          <p>
            <b>Rating :</b>
            <span class="starRating">
              <input
                disabled
                id="rating5"
                type="radio"
                name="{{i}}"
                [checked]="review.rating==5"
              />
              <label for="rating5">5</label>
              <input
                disabled
                id="rating4"
                type="radio"
                name="{{i}}"
                [checked]="review.rating==4"
              />
              <label for="rating4">4</label>
              <input
                disabled
                id="rating3"
                type="radio"
                name="{{i}}"
                [checked]="review.rating==3"
              />
              <label for="rating3">3</label>
              <input
                disabled
                id="rating2"
                type="radio"
                name="{{i}}"
                [checked]="review.rating==2"
              />
              <label for="rating2">2</label>
              <input
                disabled
                id="rating1"
                type="radio"
                name="{{i}}"
                [checked]="review.rating==1"
              />
              <label for="rating1">1</label>
            </span>
          </p>

          <p style="text-align: justify;">
            {{review.reviewDescription}}
          </p>
        </div>
      </div>
      <a
        href="#"
        [routerLink]="['/client-reviews']"
        routerLinkActive="router-link-active"
        >View more reviews.....</a
      >
    </div>
  </section>
  <!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Us ======= -->
  <section id="Contact Us" class="services">
    <div class="container">
      <div class="section-title">
        <h2>Contact Us</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="bx bx-map"></i></div>
          <h3 class="title">Our Address</h3>
          <p class="description">
            Ekyarth, Malabar County Rd,<br />
            Ahmedabad, Gujarat 382481
          </p>
          <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
            occaecati cupiditate non provident</p> -->
        </div>
        <div
          class="col-lg-4 col-md-6 icon-box"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="icon"><i class="bx bx-envelope"></i></div>
          <h3 class="title">Email Us</h3>
          <p class="description">contact@pgmanagement.com</p>
        </div>
        <div
          class="col-lg-4 col-md-6 icon-box"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="icon"><i class="bx bx-phone-call"></i></div>
          <h3 class="title">Call Us</h3>
          <p class="description">+91 9696969696</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                width="1000"
                height="500"
                id="gmap_canvas"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34908.8149639245!2d72.53417988584873!3d23.121347873615633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e83288f21809b%3A0xd549875a26872c63!2sEkyarth!5e0!3m2!1sen!2sin!4v1584095569920!5m2!1sen!2sin"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
              ></iframe
              ><a
                href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Us Section -->
</main>
<!-- End #main -->
<app-clientfooter></app-clientfooter>
